@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --background: #F5F5F5;
  --foreground: #333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

/* Ajout d'une transition douce sur les boutons */
button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

/* header, footer {
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
} */